{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container page">
    <h2 class="text-center">Checkout</h2>
    <hr class="header-hr mb-5">
    <div class="row row-cols-2 justify-content-between">
        <div class="col-12 col-sm-7 col-md-8">
            <div class="row">
                <div class="col-3">
                    <div class="py-2 px-3">
                        <!--Item Image-->
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-grid gap-3">
                        <p><strong>{{order_items}}</strong></p>
                        <a class="text-decoration-none" href="#">
                            <small class="author-link"><!--Author--></small>
                        </a>
                        <p>Price : <!--Price--> €</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-grid gap-3">
                        <p><strong><!--Item total price--> €</strong></p>
                        <!--Item Quantity-->
                        <select class="form-select ms-0" aria-label="Select option">
                            <option selected value="1">1</option>
                        </select>
                        <div class="d-flex gap-3">
                            <button class="nav-link" href="#"><i class="fa-regular fa-heart"></i></button>
                            <button class="nav-link"  href=""><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-5 col-md-4">
            <div class="text-center">
                <h3 class="py-3 text-uppercase">Checkout Counter</h3>
                <hr>
                <div class="d-grid">
                    <div class="d-flex justify-content-between mx-4">
                        <p>Total</p>
                        <p class="text-center"><strong><!--Total Price--> €</strong></p>
                    </div>
                    <div class="d-flex justify-content-between mx-4">
                        <p>Discount (10%)</p>
                        <p class="text-center"><strong>0 €</strong></p>
                    </div>
                    <div class="d-flex justify-content-between mx-4">
                        <p>Tax (9%)</p>
                        <p class="text-center"><strong>0 €</strong></p>
                    </div>
                    <div class="d-flex justify-content-between mx-4">
                        <p>Grand Total</p>
                        <p class="text-center"><strong><!--Grand Total Price--> €</strong></p>
                    </div>
                    <hr>
                    <div class=" gap-2 d-flex justify-content-center my-3">
                        <button class="btn" type="submit"><i class="fa-solid fa-arrow-left"></i>Keep Shopping</button>
                        <button class="btn" type="submit">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}