{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
    <div class="container-fluid about-page">
        <div class="container d-flex justify-content-center">
            <!--Image comes here-->
        </div>
    </div>
    <div class="container card">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">About Us</h2>
                <div class="container">
                    <!--about text -->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}