{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
    <div class="container-fluid about-img">
        <div class="container d-flex justify-content-center">
            <!--Image comes here-->
        </div>
    </div>
    <div class="container about-text">
        <h2 class="text-center">About Us</h2>
        <hr class="header-hr">
        <div class="row">
            <div class="col-12">
                <p>We are a group of book lovers who came together with the interest we share. We share idealogies, stories and even fantacies from the experiences we live together through the books we read.</p>
                <p>Reading is a hobby we delight and so we look to expanding our belief in order to find other believers like us who think knowledge brings that insight that is powerful enough to create life.</p>
                <p>Our community exchange talks on Gosip blog. All kinds of topics are discussed.
                <a
                    href="https://folarin-ogungbemi.github.io/Portfolio-Project-1/"
                    class="nav-link d-inline"
                    target="_blank"
                    rel="noopener"
                    aria-label="visit our Blog page(open in a new tab)"
                    ><small>Visit our Blog &gt;&gt;</small></a></p>
            </div>
        </div>
    </div>
</main>
{% endblock %}