{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page">
    <div class="container-fluid team-page">
        <div class="container d-flex justify-content-center text-center my-5">
            <div class="row">
                <div class="col-12">
                    <h2 class="pt-2">Meet the Team</h2>
                    <hr class="header-hr">
                    <p><strong>Gosip</strong> is proud to introduce you to some of the Talents in the World</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <!--Image goes here-->
                <figure class="team-info my-3">
                    <img src="https://res.cloudinary.com/dzdyzl4r5/image/upload/v1670462664/Passport_Foto_nolsz4.jpg" width="280" height="330" class="rounded" alt="Folarin Ogungbemi image">
                    <figcaption><strong>Folarin Ogungbemi</strong></figcaption>
                    <small>Software Developer</small>
                    <ul class="list-unstyled d-flex gap-2 my-2">
                        <li>
                            <a
                              href="https://www.linkedin.com/in/folarin-ogungbemi/"
                              target="_blank"
                              rel="noopener"
                              aria-label="visit our Folarin's LinkedIn page(open in a new tab)"
                              ><i class="fa-brands fa-linkedin"></i></a>
                          </li>
                          <li>
                            <a
                              href="https://github.com/folarin-ogungbemi"
                              target="_blank"
                              rel="noopener"
                              aria-label="visit folarin's github page(open in a new tab)"
                              ><i class="fa-brands fa-github"></i></a>
                          </li>
                          <li>
                            <a
                              href="https://twitter.com/ftogungbemi"
                              target="_blank"
                              rel="noopener"
                              aria-label="visit folarin's Twitter page(open in a new tab)"
                              ><i class="fa-brands fa-square-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              href="https://www.instagram.com/flographicsberlin/"
                              target="_blank"
                              rel="noopener"
                              aria-label="visit folarin's Instagram page(open in a new tab)"
                              ><i class="fa-brands fa-instagram"></i
                            ></a>
                          </li>
                      </ul>
                </figure>
            </div>
        </div>
    </div>
</main>
{% endblock %}