{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container page">
        <h2 class="text-center text-uppercase">Profile</h2>
        <div class="row my-5">
            <div class="col-8 mx-auto form">
                <p class="fs-3 text-center mt-2">Edit Profile</p>
                <form action="#" method="">
                    {% csrf_token %}
                    <div class="my-4">
                        {{ form|crispy }}
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Save" class="btn btn-submit w-50">
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="col-12 mx-auto my-4">
                <p class="fs-3 text-center mt-2">Order History</p>
                {{orders}}
            </div>
        </div>
    </div>
{% endblock %}
