{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container page">
    <h2 class="text-center text-uppercase">Checkout</h2>
    <div class="row row-cols-2 justify-content-between my-5">
        <div class="col-12 col-sm-10 col-md-8 form mx-auto">
                <div class="cotainer text-center my-3">
                    <form method="POST" action="{% url 'checkout' %}" id="complete-order">
                        {% csrf_token %}
                        <div class="details mt-4">
                            <div class="row">
                                <div class="col-12 stretch">
                                    {{ form.full_name | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.email | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.phone_number | as_crispy_field }}
                                </div>
                            </div>
                        </div>
                        <div class="billing">
                            <hr class="billing-rule">
                            <div class="row">
                                <div class="col-12 stretch">
                                    {{ form.address_line_1 | as_crispy_field }}
                                </div>
                                <div class="col-12 stretch">
                                    {{ form.address_line_2 | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.city | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.zip | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.state | as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.country | as_crispy_field }}
                                </div>
                            </div>
                            <div class="px-3">
                                <small  class="text-center px-2 fw-semibold">Secure Payment</small >
                                <!--Stripe card element-->
                                <div class="mb-3" id="card-element"></div>
        
                                <!-- Display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                                <!--Pass the client secret to the view so we can get the payment intent id-->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </div>
                            <div class="row shop gap-3 d-flex justify-content-center text-center">
                                <div class="col-12">
                                    <p class="small"><span class="mute">By placing this Order, you will be charged </span><strong>{{ grand_total | floatformat:2 }} €</strong></p>
                                    <button class="btn" type="submit" id="transact">Complete Order</button>
                                </div>
                                <div class="form-check">
                                    {% if user.is_authenticated %}
                                        <div class="form-check-width">
                                            <label for="id-save-info">Save Billing Information to my Profile</label>
                                            <input type="checkbox" class="form-check-input" id="id-save-info" name="save-info" checked>
                                        </div>
                                    {% else %}
                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-info fw-semibold" href="{% url 'account_signup' %}">Create Account</a> or 
                                            <a class="text-info fw-semibold" href="{% url 'account_login' %}"> SignIn</a> to save this Information
                                        </label>
                                    {% endif %}
                                </div>
                                <div class="col-12">
                                    <a href="{% url 'shopping_cart' %}" class="text-decoration-none btn"><i class="fa-solid fa-arrow-left"></i> Adjust Cart</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-8 checkout-items mt-4">
            <p class="mute">Order summary ({{ book_count }})</p>
            <hr class="counter-hr">
                {% if shopping_basket %}
                {% for item in shopping_basket %}
                <div class="container my-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="book-checkout-card py-3 px-3">
                                {% if item.book.image %}
                                <img src="{{ item.book.image.url }}" alt="book image" width="49" height="80">
                                {% else %}
                                    <a href="#"><img class="img-fluid" src="{{ MEDIA_URL }}no-image-man.jpg" width="49" height="80" alt="no image available"></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-grid py-4">
                                <small><strong>{{ item.book.title }}</strong></small>
                                {% if item.qty == 1 %}
                                <small>Quantity: {{ item.qty }} Book</small>
                                {% else %}
                                <small>Quantity: {{ item.qty }} Books</small>
                                {% endif %}
                                <small>Price : {{ item.book.price }} €</small>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="d-grid justify-content-end py-4 me-4">
                                <small>{{ item.book.price | calc_subtotal:item.qty }} €</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                <div class="d-grid my-auto">
                    <p class="text-center">No Items in your Cart.</p>
                    <div class="d-flex justify-content-center mt-4">
                        <a class="btn btn-danger rounded-pill" href="{% url 'books:books' %}"><i class="fa-solid fa-arrow-left"></i> Back to Bookstore</a>
                    </div>
                </div>
                {% endif %}
                <hr class="counter-hr">
                <div class="mx-4 fw-semibold">
                    <div class="d-flex justify-content-end">
                        <span class="small"><span class="me-5">Order Total:</span> <span>{{total|floatformat:2}} €</span></span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <p><span class="me-4">Grand Total:</span> <span class="fw-bolder">{{total|floatformat:2}} €</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loader">
    <span class=" load-spinner fs-1 fw-bolder">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </span>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}