{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block content %}
    <div class="container page">
        <h2 class="text-center text-uppercase">Transaction Successful</h2>
        <div class="row justify-content-between my-5">
            <div class="col-12-auto">
                <p class="fs-3">Thank You!</p>
                <p>Your Order has been placed. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
            </div>
        </div>
        <p class="fs-4">Order Details</p>
        <div class="row">
            <div class="col-12 checkout-items mt-2">
                <div class="container">
                    <div class="row row-cols-2">
                        <!--Billing Address-->
                      <div class="col-12 col-md-6 mt-2">
                        <p><strong class="text-decoration-underline">Billing Address:</strong></p>
                        <span>{{ order.full_name }}
                        <br>
                        {{ order.address_line_1 }}
                        <br>
                        {% if zip %}
                        {{ order.zip }}, {{ order.city }}
                        {% else %}
                        {{ order.city }}
                        {% endif %}
                        <br>
                        {{ order.state}}, {{ order.country }}
                        </span>
                      </div>
                      <div class="col-12 col-md-6 mt-2">
                        <p><strong class="text-decoration-underline">Customer Info</strong></p>
                        <small><span class="fw-semibold">Order Number:</span> {{ order.order_id }}</small>
                        <br>
                        <small><span class="fw-semibold">Date:</span> {{order.order_date}}</small>
                        <br>
                        <small><span class="fw-semibold">Total:</span> {{order.cart_total}}</small>
                        <br>
                        <small><span class="fw-semibold">Grand Total:</span> {{order.grand_total}}</small>
                      </div>
                      <div class="col-12 mt-2">
                        <p><strong class="text-decoration-underline">Shipping Address:</strong></p>
                        <span>
                        {{ order.full_name }}
                        <br>
                        {{ order.address_line_1 }}
                        <br>
                        {% if zip %}
                        {{ order.zip }}, {{ order.city }}
                        {% else %}
                        {{ order.city }}
                        {% endif %}
                        <br>
                        {{ order.state}}, {{ order.country }}
                        </span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% for item in order_items %}
            {{item.book.image}}
            title: {{item.book.title}}
            price: {{item.book.price}}
            quantity: {{item.qty}}
            total_items:{{total_items}}
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
