/* Table of content
----------------------------
1. HOME STYLE
    1.1 Books
        1.1.1 general
        1.1.2 links
        1.1.3 paginator
        1.1.4 animation
        1.1.5 tag
    1.2 Book-Details
        1.2.1 general
        1.2.2 button



/* ----------------------------Books--- */
/* general */

.book{
    position: relative;
    width: 240px;
}

.book-card{
    background-color: #fffaf6;
    box-shadow: 0px 2px 10px 1px rgba(2, 33, 56, 0.2);
    width: 230px;
    position: relative;
    border-radius: 2px;
}

.book-info{
    width: 230px;
    margin: auto;
}

.book-card:hover{
    box-shadow: 0px 3px 15px 1px rgba(2, 33, 56, 0.5);
}

.book-card img{
    border-radius: 2px;
}

.book-card img:hover{
    animation: zoom-book 5s forwards;
}

.book-like{
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 50%;
    width: 14%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #fffaf6;
    color: rgba(2, 33, 56, 0.5);
    border-color: transparent;
}

.book-like:hover{
    color: #f02c2c;
}

.mute{
    color: #022138;
    opacity: 0.7;
}

/* links */

.title-link,
.author-link{
    color: #022138;
}

.title-link:hover,
.author-link:hover{
    text-decoration: underline;
}

.books-link{
    color: #022138;
}

.books-link:hover{
    color: #f02c2c;
    opacity: 1;
}

.genre-link:hover{
    color: #022138;
    opacity: 1;
    text-decoration: underline;
}

.book-hr{
    color: #022138;
}

/* paginator */

.current-page{
    box-shadow: 0px 3px 15px 1px rgba(2, 33, 56, 0.3);
    background-color:#fffaf6;
    padding: 0.3rem;
    border-radius: 2px;
}

.pagination a{
    text-decoration: none;
    color: #022138;
}

.pagination i{
    font-size: 1.3rem;
    color:rgba(2, 33, 56, 0.8);
}

.pagination i:hover{
    color: #f02c2c;
}

.page-next a:nth-child(1),
.page-prev a:nth-child(2){
    color:#022138;
}
.page-next a:nth-child(1):hover,
.page-prev a:nth-child(2):hover{
    color: #fffaf6;
}

.page-step-next,
.page-step-prev{
    box-shadow: 0px 3px 15px 1px rgba(2, 33, 56, 0.3);
    padding: 0.2rem 0.3rem 0.3rem 0.3rem;
    border-radius: 2px;
}

.page-step-next:hover,
.page-step-prev:hover{
    background-color:#022138;
}

/* animation */

/* code-institute: love-running */
/* CREATES THE LEVEL OF ZOOM FOR BOOK IMAGE */

@keyframes zoom-book{
from{
    transform: scale(1);
}
to{
    transform: scale(1.05);
}
}

/* tag */


.book-tag {
    position: absolute;
    bottom: 5%;
    left:-1px;
    min-width: 15%;
    background-color: #f02c2c;
    padding: 0px 7px;
    border-radius: 0 2px 2px 0;
}

.special {
    color: #fffaf6;
    font-size: 0.9rem;
}

/* -----------------------------------Book-Details----- */

/* general */

.detail-book-like{
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 50%;
    width: 14%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffaf6;
    color: rgba(2, 33, 56, 0.5);
    border-color: transparent;
}

.detail-book-like:hover{
    color: #f02c2c;
}

.qty_select{
    width: 70px;
    border-radius: 0;
    color: #022138;
    border-color: rgba(2, 33, 56, 0.5);
}

.qty-group{
    width:100px;
}

/* button */

.shop a,
.shop button{
    color: #fffaf6;
}

.shop a{
    background-color:rgba(2, 33, 56, 0.8);
    width: 55%;
}
.shop a:hover{
    color: #fffaf6;
    background-color:#022138;
}

.shop button{
    background-color:rgba(240, 44, 44, 0.9);
    width: 55%;
}
.shop button:hover{
    color: #fffaf6;
    background-color:#f02c2c;
}
.shop .btn:active{
    border-color: transparent;
}

.input-group-prepend,
.input-group-postpend{
    background-color:rgba(2, 33, 56, 0.8);
}

.input-group-prepend:hover,
.input-group-postpend:hover{
    background-color: #022138;
}
.input-group-prepend{
    border-radius: 5px 0 0 5px;
}
.input-group-postpend{
    border-radius: 0 5px 5px 0;
}

.icon{
    color: #fffaf6;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #022138;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

a.btn-checkout-secure{
    background-color:rgba(2, 33, 56, 0.5);
    color: #fffaf6;
    border-radius: 0 0 5px 5px;
}

a.btn-checkout-secure:hover{
    background-color: rgba(2, 33, 56, 0.7);
    color: #fffaf6;
}

.checkout-icon{
    color: #022138;
}

.toast-body{
    background-color: #fffaf6;
}
