
/* Table of content
----------------------------
1. HOME STYLE
    1.1 Index
        1.1.1 general


/* **********
 HOME STYLE
************ */

/* --------------------------Index----- */

/* general */

.hero-1{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.3), rgba(0, 0, 0, 0.3)), url('/media/hero-1-c.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-2{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.3), rgba(0, 0, 0, 0.3)), url('/media/hero-2-c.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-3{
    height: 70vh;
    background-image:linear-gradient(rgba(89, 89, 89, 0.3), rgba(0, 0, 0, 0.3)), url('/media/hero-3-c.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page-call{
    background-color:rgba(255, 250, 246, 0.9);
    width: 40%;
    height: 50%;
    position: absolute;
    bottom: 30%;
    right: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    color:#022138;
    font-size: 1.4rem;
}

.page-call .btn{
    width: 50%;
}