<footer>
    <!--Copywrite-->
    <div class="footer-copywrite d-flex justify-content-center">
        <div class="row">
          <div class="col-12">
            <span>
              <a
                href="https://github.com/folarin-ogungbemi"
                target="_blank"
                rel="noopener"
                aria-label="visit folarin's github page(open in a new tab)"
                class="nav-link d-inline"
                ><small>&copy; 2022 Folarin projects.</small>
                <i class="fa-brands fa-github"></i></a
            ></span>
          </div>
        </div>
    </div>
    <!--Copywrite-->
</footer>