<footer>
    <div class="container-fluid footer-links py-2">
        <div class="row">
          <div class="col-6 col-md-3">
            <!--company-networks-->
            <div class="social-networks ms-5">
              <strong>Company</strong>
              <ul class="list-unstyled">
                <li>
                  <a href="{% url 'about' %}" class="nav-link"><small>About</small></a>
                </li>
                <li>
                  <a href="#" class="nav-link"><small>Contact</small></a>
                </li>
                <li>
                  <a href="#" class="nav-link"><small>Team</small></a>
                </li>
                <li>
                  <a
                    href="https://folarin-ogungbemi.github.io/Portfolio-Project-1/"
                    class="nav-link"
                    target="_blank"
                    rel="noopener"
                    aria-label="visit our Blog page(open in a new tab)"
                    ><small>Blog</small></a
                  >
                </li>
              </ul>
            </div>
            <!--/.company-networks-->
          </div>
          <div class="col-6 col-md-3">
            <!--Sponsor-networks-->
            <div class="social-networks ms-5">
              <strong>Sponsors</strong>
              <ul class="list-unstyled">
                <li>
                  <a
                    href="https://codeinstitute.net/"
                    class="nav-link"
                    target="_blank"
                    rel="noopener"
                    aria-label="visit our Code Institute page(open in a new tab)"
                   ><small>Code Institute</small></a>
                </li>
                <li>
                  <a
                  href="https://www.python.org/"
                  class="nav-link"
                  href="https://codeinstitute.net/"
                  target="_blank"
                  rel="noopener"
                  aria-label="visit our Python page(open in a new tab)"
                  ><small>Python</small></a>
                </li>
                <li>
                  <a
                  href="https://www.djangoproject.com/"
                  class="nav-link"
                  target="_blank"
                  rel="noopener"
                  aria-label="visit our Django page(open in a new tab)"
                  ><small>Django</small></a>
                </li>
                <li>
                  <a
                  href="https://www.javascript.com/"
                  class="nav-link"
                  target="_blank"
                  rel="noopener"
                  aria-label="visit our Javascript page(open in a new tab)"
                  ><small>Javascript</small></a>
                </li>
              </ul>
            </div>
            <!--/.Sponsor-networks-->
          </div>
          <!--company-col./-->
          <div class="col-6 col-md-3">
            <!--Product-networks-->
            <div class="social-networks ms-5">
              <strong>Categories</strong>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="nav-link"><small>Education</small></a>
                </li>
                <li>
                  <a href="#" class="nav-link"><small>History</small></a>
                </li>
                <li>
                  <a href="#" class="nav-link"><small>Entertainment</small></a>
                </li>
                <li>
                  <a href="#" class="nav-link"><small>Sports</small></a>
                </li>
              </ul>
            </div>
            <!--/.Product-networks-->
          </div>
          <!--Product-col./-->
          <div class="col-6 col-md-3">
            <!--social-networks-->
            <div class="social-networks ms-5">
              <strong>Socials</strong>
              <ul class="list-unstyled">
                <li>
                  <a
                    href="https://facebook.com"
                    target="_blank"
                    rel="noopener"
                    class="nav-link"
                    aria-label="visit our Facebook page(open in a new tab)"
                    ><small>Facebook</small></a
                  >
                </li>
                <li>
                  <a
                    href="https://twitter.com"
                    target="_blank"
                    rel="noopener"
                    class="nav-link"
                    aria-label="visit our Twitter page(open in a new tab)"
                    ><small>Twitter</small></a
                  >
                </li>
                <li>
                  <a
                    href="https://youtube.com"
                    target="_blank"
                    rel="noopener"
                    class="nav-link"
                    aria-label="visit our Youtube page(open in a new tab)"
                    ><small>Youtube</small></a
                  >
                </li>
                <li>
                  <a
                    href="https://instagram.com"
                    target="_blank"
                    rel="noopener"
                    class="nav-link"
                    aria-label="visit our Instagram page(open in a new tab)"
                    ><small>Instagram</small></a
                  >
                </li>
              </ul>
            </div>
            <!--/.social-networks-->
          </div>
          <!--follow-links-col./-->
        </div>
        <!--footer-links-row./-->
    </div>
    <!--footer-links-container./-->
    <!--Copywrite-->
    <div class="footer-copywrite d-flex justify-content-center">
        <div class="row">
          <div class="col-12">
            <span>
              <a
                href="https://github.com/folarin-ogungbemi"
                target="_blank"
                rel="noopener"
                aria-label="visit folarin's github page(open in a new tab)"
                class="nav-link d-inline"
                ><small>&copy; 2022 Folarin projects.</small>
                <i class="fa-brands fa-github"></i></a
            ></span>
          </div>
        </div>
    </div>
    <!--Copywrite-->
</footer>