<!--All Books-->
<li class="nav-item dropdown">
    <a
      class="nav-link ps-4 dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      href="#"
      >All Books</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">By Price</a></li>
      <li><a class="dropdown-item" href="#">By Rating</a></li>
      <li><a class="dropdown-item" href="#">By Category</a></li>
      <li><a class="dropdown-item" href="#">All Books</a></li>
    </ul>
  </li>
  <!--/.All Products-->
  <!--Genres-->
  <li class="nav-item dropdown">
    <a
      class="nav-link ps-4 dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      href="#"
      >Genres</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Education</a></li>
      <li><a class="dropdown-item" href="#">Fantasy</a></li>
      <li><a class="dropdown-item" href="#">History</a></li>
      <li><a class="dropdown-item" href="#">Kids</a></li>
      <li><a class="dropdown-item" href="#">Sports</a></li>
    </ul>
  </li>
  <!--/.Genres-->
  <!--Special-Offers-->
  <li class="nav-item dropdown">
    <a
      class="nav-link ps-4 dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      href="#"
      >Specials</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Bestseller</a></li>
      <li><a class="dropdown-item" href="#">New Arrivals</a></li>
      <li><a class="dropdown-item" href="#">SALE</a></li>
      <li><a class="dropdown-item" href="#">Recommendations</a></li>
      <li><a class="dropdown-item" href="#">All Specials</a></li>
    </ul>
  </li>
  <!--/.Special-Offers-->
  