<!--offcanvas-navigation.-->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar">
  <div class="offcanvas-header">
    <a class="navbar-brand ps-4" href="{% url 'home' %}"><h3 class="logo"><strong>G<span class="brand-color">o</span></strong>sip Bookstore</h3></a>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link ps-4 trans-link" href="{% url 'home' %}"><i class="fa-solid fa-house me-2"></i>Home</a>
      </li>
      <!--main-nav-->
      {% include 'includes/main-nav.html'%}
      <!--main-nav ./-->
      <li class="nav-item">
          <a class="nav-link ps-4 trans-link" href="{% url 'about' %}"><i class="fa-solid fa-heart-pulse me-2"></i>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-4 trans-link" href="{% url 'contact' %}"><i class="fa-solid fa-link me-2"></i>Contact</a>
        </li>
        {% if user.is_authenticated %}
          {% if request.user.is_superuser%}
          <li class="nav-item">
          <a href="{% url 'books:add_author' %}" class="nav-link ps-4 trans-link"><i class="fa-solid fa-list-check me-2"></i>Admin Management</a>
        </li>
          {% endif %}
        {% endif %}
    </ul>
    <div class="d-grid mt-4">
      {% if user.is_authenticated %}
      <a class="btn btn1 rounded-pill" href="{% url 'account_logout' %}">Logout</a>
      {% else %}
      <a class="btn btn1 rounded-pill" href="{% url 'account_login' %}">Login</a>
      <a class="btn btn2 rounded-pill mt-2" href="{% url 'account_signup' %}">Register</a>
      {% endif %}
    </div>
  </div>
</div>