<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <form method="GET" action="{% url 'books:search-result' %}"
            class="d-flex form-control gosip-search-box ms-5 me-5"
            role="search"
            id="searchModalLabel"
          >
            <input
              class="gosip-search form-control"
              type="search"
              name="q"
              placeholder="Search"
              aria-label="Search">
            <button class="search-btn me-2" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
    </div>
</div>