<div class="navbar navbar-expand">
    <ul class="d-flex list-unstyled text-center gap-5 ms-5 py-1 my-auto">
      <li class="nav-item d-inline">
        <i class="fa-solid fa-user"></i>
        <a class="nav-link nav-hover me-2" href="#">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-grid gap-2 me-2" href="#">
          <i class="fa-regular fa-heart"></i>
          <small class="nav-hover">Wishlist</small>
        </a>
      </li>
      <li class="nav-item pe-4">
        <a class="nav-link d-grid gap-2" href="#">
          <i class="fa-solid fa-basket-shopping"></i>
          <small class="nav-hover">Cart</small>
        </a>
      </li>
    </ul>
</div>