{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container text-center page mb-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 auth-card">
      <div class="my-4">
        <h2 class="text-center">{% trans "Sign Up" %}</h2>
        <hr class="header-hr">
      </div>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="d-flex justify-content-center my-2">
          <button class="btn-submit" type="submit">{% trans "Sign Up" %}</button>
        </div>
        <div class="my-3">
          <p>{% blocktrans %}Already have an account? Please <a  class="text-decoration-none forms-link" href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
