{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container page">
    <h2 class="text-center text-uppercase">Book Management</h2>
    <h5 class=" text-center mute">Add a Book</h5>
    <div class="row row-cols-2 my-5">
        <div class="col-12 form">
            <form method="POST" action="{% url 'books:add_book' %}"class="text-center my-3" enctype="multipart/form-data">
                {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                <div class="d-flex justify-content-center gap-2">
                    <a class="btn btn-secondary" href="{% url 'books:books' %}">Cancel</a>
                    <input type="submit" value="Add Book" class="btn btn-primary">
                    <a class="btn btn-danger" href="{% url 'books:add_author' %}"> Go To Author Management</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
