
/* Table of content
----------------------------
1. CHECKOUT STYLE
    1.1 Index
        1.1.1 general


/* ----------------------------Checkout--- */
/* general */

/*--MDN guide--*/

.detail-rule{
    border: none;
    border-top: 3px double #022138;
    color: #022138;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.detail-rule:after{
    background: #022138;
    content: 'Details';
    border-radius: 5px;
    color: #fffaf6;
    padding: 0.5rem;
    position: relative;
    top: -13px;
}

.billing-rule{
    border: none;
    border-top: 3px double #022138;
    color: #022138;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.billing-rule:after{
    background: #022138;
    content: 'Billing Address';
    border-radius: 5px;
    color: #fffaf6;
    padding: 0.5rem;
    position: relative;
    top: -13px;
}


/*--Stripe--*/
.StripeElement{
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #fff;
  margin:auto;
  width: 95%;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus{
    box-shadow: 0px 3px 15px 1px rgba(2, 33, 56, 0.5);
}

.StripeElement--webkit-autofill {
    background-color: #fffaf6 !important;
}

.form{
    background-color:rgba(2, 33, 56, 0.1);
    border-radius: 5px;

}

.form .form-control{
    border-color: transparent;
}

.street .form-control{
    width: 90%;
}
