<script type="text/javascript">
    // Increment Order Quantity
    $('.increment-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.qty-group').find('.qty_select')[0]
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
    });
    // Decrement order Quantity
    $('.decrement-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.qty-group').find('.qty_select')[0]
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
    });
</script>