{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container auth-confirm mb-5">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 auth-card">
      <div class="my-4">
        {% if process == "connect" %}
          <h2 class="text-center">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h2>
          <hr class="header-hr">
          <p class="text-center">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
        {% else %}
          <h2 class="text-center">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h2>
          <hr class="header-hr">
          <p class="text-center">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
      </div>
        {% endif %}
        <form  class="login text-center" method="post">
          {% csrf_token %}
          <button type="submit" class="btn-submit mb-2">{% trans "Continue" %}</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
