
    <div class="toast border-top-0" role="alert" data-bs-delay="7000" aria-live="assertive" aria-atomic="true">
        <div class="arrow-up arrow-success"></div>
        <div class="w-100 toast-capper bg-success"></div>
      <div class="toast-header">
        <strong class="me-auto text-success">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-3">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
        <p class="py-1 fw-semibold">({{ book_count }}) Items in Cart</p>
        <div class="cart-notification-wrapper">
            {% for item in shopping_basket %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if item.book.image %}
                                <img src="{{ item.book.image.url }}" alt="book image" class="w-100">
                            {% else %}
                                <a href="#"><img class="img-fluid" src="{{ MEDIA_URL }}no-image-man.jpg" class="w-100" alt="no image available"></a>
                        {% endif %}
                    </div>
                    <div class="col-9 my-auto">
                        <p class="my-0"><strong>{{ item.book.title }}</strong></p>
                        <p class="my-0 small text-muted">Quantity: {{ item.qty }}</p>
                        <p class="my-0 small text-muted">Price: {{ item.book.price }} €</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'checkout' %}" class="btn btn-checkout-secure d-flex justify-content-center">
                    <span class="text-uppercase">Proceed to Checkout</span>
                    <span class="checkout-icon ms-2">
                        <i class="fa-solid fa-lock"></i>
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
